/*General*/
html, body {
  background-color: #ffff;
  color: #000;
  font-family: "Quicksand" !important;
  font-size: 18px;
  margin: 0;
  margin-top: 0px !important; }
  html .sr .load-hidden, body .sr .load-hidden {
    visibility: hidden; }
  html a:link, body a:link {
    text-decoration: none; }

.paragraph-title-green {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 3vh;
  text-transform: uppercase;
  color: #17ae92; }

.paragraph-title-white {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 3vh;
  text-transform: uppercase;
  color: white; }

.button, .contact-form-button {
  padding: 14px 28px;
  background-color: #17ae92;
  border: 2px solid #17ae92;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  cursor: pointer; }
  .button:focus, .contact-form-button:focus {
    outline: none; }
  .button:hover, .contact-form-button:hover {
    color: #17ae92;
    background-color: #fff; }

/*------------------------------------*/
/*Header*/
.header-wrapper {
  background: url(../img/Head-Photo-BG.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.overlay {
  background: rgba(23, 174, 146, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 2; }

.sub-header-text {
  font-size: 40px;
  font-family: 'Uni-Sans-Thin';
  color: #fff;
  margin-bottom: 0px !important;
  text-shadow: 3px 3px 5px #000; }

.header-text {
  font-size: 70px;
  font-weight: bold;
  font-family: 'Uni-Sans-Heavy';
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px !important;
  text-shadow: 3px 3px 5px #000; }

/*------------------------------------*/
/*About*/
.about-wrapper {
  padding: 50px 0px;
  background-color: white; }

.about-photo img {
  width: 100%; }

/*------------------------------------*/
/*Services*/
.services-wrapper {
  padding: 50px 0px;
  background-color: #EBEBEB; }

.services-box {
  width: 100%;
  border: 1px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px; }

.services-box-icon {
  height: 105px; }

/*------------------------------------*/
/*Staff*/
.staff-wrapper {
  padding: 50px 0px;
  background-color: #fff; }

.staff-photo img {
  border-radius: 50%; }

/*------------------------------------*/
/*Contact*/
.contact-wrapper {
  padding: 50px 0px;
  background-color: #EBEBEB; }

label {
  margin-bottom: 5px;
  font-weight: 700; }

.label-rodo {
  font-size: 10px;
  cursor: pointer; }

.contact-form-button {
  margin-top: 20px; }

/*------------------------------------*/
/*Footer*/
.footer-wrapper {
  background-color: #17ae92;
  color: white;
  padding: 15px 0px; }
  .footer-wrapper p {
    margin: 0px;
    font-size: 14px; }
  .footer-wrapper a {
    color: white;
    text-decoration: none; }

/*Navbar*/
.navbar {
  font-size: 16px;
  font-weight: 700; }
  .navbar .nav-link:link, .navbar .nav-link:visited {
    text-decoration: none;
    color: white; }
  .navbar .nav-link:hover, .navbar .nav-link:focus {
    color: #17ae92;
    transition: 0.5s; }
  .navbar .navbar-toggler {
    border: none; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-white {
  background-color: white !important;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }
  .navbar-white .nav-link:link, .navbar-white .nav-link:visited {
    text-decoration: none;
    color: #17ae92; }
  .navbar-white .nav-link:hover, .navbar-white .nav-link:focus {
    color: #016857 !important; }

.navbar-brand-logo-white {
  filter: brightness(0) invert(1); }

.navbar-brand-logo {
  width: 250px; }

.nav-item {
  margin: 0px 10px; }

.nav-link {
  text-transform: uppercase; }

.dropdown-menu {
  top: 64px;
  border-top: 2px solid #17ae92;
  border-radius: 0px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem; }
  .dropdown-menu .dropdown-item:link, .dropdown-menu .dropdown-item:visited {
    color: black;
    text-decoration: none; }
  .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    color: #17ae92;
    border-left: 4px solid #17ae92;
    font-weight: 700; }

/* nav-hamburger */
.navbar-hamburger-white {
  width: 40px;
  height: 30px;
  position: relative;
  margin-right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.navbar-hamburger-white span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.navbar-hamburger-green span {
  background: #17ae92 !important; }

.navbar-hamburger-white span:nth-child(1) {
  top: 0px; }

.navbar-hamburger-white span:nth-child(2), .navbar-hamburger-white span:nth-child(3) {
  top: 12px; }

.navbar-hamburger-white span:nth-child(4) {
  top: 23px; }

.navbar-hamburger-white.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%; }

.navbar-hamburger-white.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.navbar-hamburger-white.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.navbar-hamburger-white.open span:nth-child(4) {
  top: 12px;
  width: 0%;
  left: 50%; }

/*# sourceMappingURL=style.css.map */
